/* 
    Document   : style
    Created on : 09.08.2013, 08:32:46
    Author     : angel
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    font-family: Helvetica;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #081245;
    color: #ffffff;
    vertical-align: middle;

    /* disable user select */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/**
 * JOKER BUTTONS
 */
header .joker {    
    text-align: left;
    list-style-type: none; 
    float: right;
}

header a {    
    height: 200px;
    height: 59px;
    width: 100px;
    overflow: hidden;
    display: block;
    position: relative;    
}

header img {   
    position: absolute;
}

header a:hover img { 
    top:-60px
}

/* Used Joker */
.usedJoker {
    top:-60px;
}

/**
 * SECTION
 */
.image_content {
    width: 100%;
}

.image_content td {
    width: 15%;
}

.image_content td#logo {
    width: 70%;
}

.prizeTable {
    border-left: 2px dotted #6676c5;
    font-size: 18px;    
}

.highlightActualPrize {
    color: yellow;        
}

section {
    clear: both;
}

section img {

}

section ul li {
    list-style: none;
    text-align: left;
    padding-left: 50px;    
}

.question {
    background-image: url(../res/img_question.png);
    background-repeat: no-repeat;
    background-position: center;    
    height: 100px;
    margin: auto;
    font-size: 14px;
    padding-top: 45px;
    clear: both;
}

section table {
    margin: auto;
    padding: 0;
}

.answer {
    background-image: url(../res/img_answer.png);
    background-repeat: no-repeat;
    height:52px;
    width:558px;   
    margin: auto;
    font-size: 20px;
    padding-top: 15px;
    text-align: left;
    padding-left: 40px;    
    cursor: pointer;
}

.selectedAnswer {
    background-image: url(../res/img_answer_choose.png); 
    color: #000;
}

.correctAnswer {
    background-image: url(../res/img_answer_right.png); 
    color: #000;
}

/* 
 * BUTTON 
 */
input#btn_loesung {
    background-color: red;
}

input {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    -webkit-appearance: none;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 10px;
    background-color: #081245;
    color: #ffffff;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    text-shadow: 0 -1px 2px rgba(0,0,0,0.3);
    background-image: -webkit-linear-gradient(top,
        rgba(255,255,255,0.6) 0%,
        rgba(255,255,255,0.3) 50%,
        rgba(255,255,255,0) 51%,
        rgba(255,255,255,0.2) 100%);
    cursor: pointer;
}
